@use 'styles/mixins' as *;

/* Triangle Water mark */
.triangle {
  &__container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
  }

  &__icon {
    @include flex-center;
    position: absolute;
    right: 3%;
    bottom: 5%;
    width: 2.5rem;
    height: 2.5rem;
    opacity: 80%;
  }

  &__one,
  &__two,
  &__three {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 0.25rem;
    background: var(--theme-gradient-linear);
    box-shadow: 0 0 0.125rem 0 var(--theme-gradient-linear);
    transform: rotate(135deg);
  }
  &__one {
    top: 50%;
    left: 50%;
  }
  &__two {
    top: 55%;
    left: 55%;
  }
  &__three {
    top: 60%;
    left: 60%;
  }
}

/* Card Header styles */

.header {
  display: grid;
  grid-template-columns: 1fr 1.75rem;

  .label {
    &__container {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
    }

    &__sub {
      font-weight: normal;
      font-size: var(--font-s);
      color: var(--theme-page-text-secondary);
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__title {
      margin: 0;

      font-weight: normal;
      font-size: var(--font-normal);
      color: var(--theme-page-text);
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .ticker {
    width: 0.75rem;
    height: 0.75rem;
    background: var(--market-green);
    font-size: var(--font-xs);
    color: var(--white);
    overflow: hidden;
    border-radius: 1vmax;
    justify-self: end;
    position: relative;
    animation: pulse 1s infinite linear;
    transition: width 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  &:hover {
    .ticker {
      width: 1.75rem;
      height: 1rem;
      &::after {
        content: attr(data-ticker);
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        @include flex-center;
      }
    }
  }
}

/* Card Footer styles */
.footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-self: end;
  gap: 0.125rem;
  overflow: hidden;
  z-index: 1;
  &__label,
  &__value {
    margin: 0;
    font-weight: normal;
    font-size: var(--font-l);
    color: var(--theme-page-text-secondary);
  }
  &__value {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &__label {
    font-weight: normal;
    font-size: var(--font-normal);
  }
}

.value__unit {
  display: flex;
  align-items: center;
  gap: var(--space-xxxxs);
  color: var(--theme-page-text);
  font-weight: normal;
  .value {
    margin: 0;
    font-size: var(--font-xxxl);
  }
  .unit {
    font-size: var(--font-l);
    align-self: flex-end;
    line-height: 1.5;
  }
}
