/* Default style to card */
.detailcard {
  position: relative;
  width: 100%;
  min-width: 17.5rem; /* 280px */
  max-width: 40rem; /* 600px */
  height: 10.75rem; /* 175px */
  background: var(--theme-gradient-radial);
  box-shadow: var(--card-shadow-border), var(--card-shadow);
  border-radius: 0.25rem; /* 4px */

  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  grid-gap: 0.125rem;
  padding: 0.5rem;

  filter: var(--theme-hue-rotate);
  overflow: hidden;
  animation: flipCard 2s cubic-bezier(0, 1, 1, 1) forwards;
}

.body {
  display: grid;
  grid-template-rows: 1fr auto;
  overflow: hidden;
  z-index: 1;

  &__text {
    display: flex;
    align-items: center;
    gap: var(--space-xxxxs);
  }
  .txn {
    &__block {
      width: 90%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--space-xxxxs);
      overflow: hidden;

      &__type {
        width: 100%;
        white-space: nowrap;
        font-weight: normal;
        font-size: var(--font-normal);
        color: var(--theme-page-text-secondary);
        overflow: hidden;
        &__value,
        &__label {
          margin: 0;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        &__label {
          font-size: var(--font-s);
        }
      }
    }
  }
}

@keyframes flipCard {
  0% {
    transform: rotateY(135deg);
  }
  80% {
    transform: rotateY(-4deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
