.chart {
  &__line {
    display: flex;
    width: 100%;
    min-width: 16rem; /* 256px */
    min-height: 12rem; /* 192px */
    background: var(--theme-page-background);
    box-shadow: var(--card-shadow-border), var(--card-shadow);
    border-radius: var(--space-xxxs);
  }

  &__donut {
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-width: 16rem; /* 256px */
    min-height: 12rem; /* 192px */
    margin-bottom: var(--space-xxs);

    @media (max-width: 768px) {
      // min-width: 30rem; // this causes appearnce of scrollbar on mobile
      min-height: 30rem;
    }
  }
}
