.container {
  display: flex;
  flex-direction: column;
  color: var(--theme-page-text);
  gap: 1rem;

  h1 {
    margin-bottom: 0;
  }
  h3 {
    color: var(--theme-page-text-secondary);
    &:hover {
      text-decoration: underline;
    }
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }

  .block {
    background-color: var(--theme-page-background);
    border-radius: var(--space-xxxs);
    width: 100%;
    min-height: 100px;
    padding: var(--space-xs);
    box-shadow: var(--card-shadow-border), var(--card-shadow);
    &__details {
      margin-block: var(--space-xxs);
    }
  }
}
