.container {
  width: 100%;
  max-width: 100vw;
}

.cardsContainer {
  display: flex;
  gap: var(--space-xxs);
  padding: 0rem;
}

.chartContainer {
  width: 100%;
  padding: 0.5rem 0rem;
}

/* hide scroll */
@media (max-width: 768px) {
  .cardsContainer {
    overflow: visible;
    overflow-y: hidden;
  }
  .cardsContainer::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
  }
}

/* style for desktop */
@media (min-width: 768px) {
  .container {
    display: flex;
    gap: 0.25rem;
    justify-content: space-between;
    align-items: center;
  }

  .cardsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: var(--space-xxxs);
    padding: 0.5rem 0;
  }
}
