.page {
  color: var(--theme-page-text);
}

.amount {
  color: var(--white);
  font-weight: 'bold';
  border-radius: var(--space-xxxs);
  white-space: nowrap;
  padding: var(--space-xxxs) var(--space-xxs);
}
