.worldContainer {
  padding: var(--space-xs) 0;
  background-color: var(--theme-page-background);
  border-radius: var(--space-xxxs);
  box-shadow: var(--card-shadow-border), var(--card-shadow);
  margin: var(--space-xs) 0;
}
