.smallcard {
  position: relative;
  width: 100%;
  min-width: 14.5rem; /* 232px */
  height: 6.25rem; /* 100px */
  background: var(--theme-page-background);
  box-shadow: var(--card-shadow);
  border-radius: 0.25rem;

  display: grid;
  display: -ms-grid;
  grid-template-rows: auto 1fr;
  -ms-grid-rows: auto 1fr;
  padding: 0.75rem;

  .icon {
    position: absolute;
    left: 71.55%;
    right: 12.93%;
    top: 32%;
    bottom: 32%;
    width: 36px;
    height: 38px;
    opacity: 80%;
  }

  .headerContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.25rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .label {
      width: 100%;
      /* height: var(--font-normal); */

      font-weight: normal;
      font-size: var(--font-normal);
      color: var(--theme-page-text);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .sublabel {
      width: 100%;

      font-weight: normal;
      font-size: var(--font-s);
      color: var(--theme-page-text);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .bodyContainer {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-self: flex-start;
    width: 10rem;

    .bodyText {
      font-weight: normal;
      font-size: var(--font-xxl);
      color: var(--theme-page-text);
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .tickerSymbol {
      justify-self: start;
      padding-left: 0.25rem;
      align-self: center;
      font-weight: normal;
      font-size: var(--font-s);
      color: var(--theme-page-text);
    }
  }
}
