.smallcard {
    position: relative;
    display: block;
    width: 232px;
    height: 100px;
    background: var(--theme-page-background);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.icon {
    position: absolute;
    left: 71.55%;
    right: 12.93%;
    top: 32%;
    bottom: 32%;
    width: 36px;
    height: 38px;
}

.label {
    /* Your balance */
    position: absolute;
    left: 5.17%;
    right: 65.95%;
    top: 12%;
    bottom: 74%;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    /* Midnight Blue */
    color: var(--theme-page-text);
}

.sublabel {
    /* Your balance */
    position: absolute;
    left: 5.17%;
    right: 65.95%;
    top: 25%;
    bottom: 74%;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    /* Midnight Blue */
    color: var(--theme-page-text);
}

.bodyText {
    position: absolute;
    left: 5.17%;
    right: 45.69%;
    top: 46%;
    bottom: 30%;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */
    /* Midnight Blue */
    color: var(--theme-page-text);
}

.tickerSymbol {
    /* $ */
    position: absolute;
    left: 54.31%;
    right: 43.1%;
    top: 54%;
    bottom: 34%;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */
    /* Midnight Blue */
    color: var(--theme-page-text);
}