.smallcard {
  position: relative;
  width: 14.5rem; /* 232px */
  height: 6.25rem; /* 100px */
  background: var(--theme-page-background);
  box-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  border-radius: 0.25rem;

  display: grid;
  display: -ms-grid;
  grid-template-rows: auto 1fr;
  -ms-grid-rows: auto 1fr;
  padding: 0.75rem;
}

.smallcard .icon {
  position: absolute;
  left: 71.55%;
  right: 12.93%;
  top: 32%;
  bottom: 32%;
  width: 36px;
  height: 38px;
}

.smallcard .headerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.25rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.smallcard .headerContainer .label {
  width: 100%;
  height: var(--font-normal);

  font-weight: normal;
  font-size: var(--font-s);
  color: var(--theme-page-text);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.smallcard .headerContainer .sublabel {
  width: 100%;
  height: var(--font-s);

  font-weight: normal;
  font-size: var(--font-xs);
  color: var(--theme-page-text);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.smallcard .bodyContainer {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-self: flex-start;
  width: 10rem;
}
.smallcard .bodyContainer .bodyText {
  font-weight: normal;
  font-size: var(--font-xxl);
  color: var(--theme-page-text);
  overflow: hidden;
  text-overflow: ellipsis;
}

.smallcard .bodyContainer .tickerSymbol {
  justify-self: start;
  padding-left: 0.25rem;
  align-self: center;
  font-weight: normal;
  font-size: var(--font-s);
  color: var(--theme-page-text);
}
