.container {
  color: var(--theme-page-text);

  .block {
    background-color: var(--theme-page-background);
    border-radius: var(--space-xxxs);
    width: 100%;
    height: 100px;
    box-shadow: var(--card-shadow-border);
  }
}
