.container {
  overflow: auto;
  color: var(--theme-page-text);
  padding: 0 var(--space-xxxs) var(--space-xs) var(--space-xxxs);

  .cardGroup {
    display: grid;
    gap: var(--space-xxs);
    grid-template-columns: repeat(auto-fill, minmax(10.5rem, 1fr));
  }
}
