.container {
  overflow: auto;
  color: var(--theme-page-text);
  padding: 0 var(--space-xxxs) var(--space-xs) var(--space-xxxs);

  .cardGroup {
    display: grid;
    gap: var(--space-xxs);
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  }
}

// for mobile
@media (max-width: 768px) {
  .container {
    padding: 0rem var(--space-xxxs) var(--space-xs) var(--space-xxxs);

    .cardGroup {
      grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    }
  }
}
