.panelTwoContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  padding-bottom: 0.5rem;
}

/* @media screen and (max-width: 768px) { */
.panelTwoContainer {
  overflow-x: visible;
  overflow-y: hidden;
}

/* hide scrollbar */
.panelTwoContainer::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}
/* } */

// for mobile
@media (max-width: 576px) {
  .panelTwoContainer {
    display: flex;
    flex-direction: column;
    gap: var(--space-xxxs);
    padding: 0.5rem 0;
  }
}

// for tablet
@media (max-width: 630px) {
  .panelTwoContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: var(--space-xxxs);
    padding: 0.5rem 0;
  }
}
