.rttable {
  position: relative;
  width: 524px;
  height: 32px;
  background: var(--theme-page-background);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.header {
  width: inherit;
  height: 32px;
  display: flex;
  padding: 0 12px;
  align-items: center;
  justify-content: space-between;

  font-weight: normal;
  font-size: var(--font-s);
  color: var(--theme-page-text);
  margin-bottom: 4px;
}

.button {
  border: 1px solid var(--theme-page-text);
  color: var(--theme-page-text);
  background: var(--theme-page-background);
  box-sizing: border-box;
  padding: 2px 32px;
  font-size: var(--font-s);
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  box-shadow: 0px 2px 4px var(--theme-page-text-secondary);
  background: var(--theme-page-text);
  color: var(--theme-page-background);
}

.rttDataList {
  max-height: 100%;
}
