.rttBlockRow {
  position: relative;
  width: 32.75rem;
  height: 3.25rem;
  background: var(--theme-page-background);
  box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  border-radius: 0.25rem;
  margin-bottom: 0.125rem;
  display: flex;
  overflow: hidden;
  animation: slideIn 1.5s ease-in;
}

.rttBlockRow .rttrowBlockName {
  font-weight: normal;
  font-size: var(--font-xs);
  /* Ocean Blue */
  color: var(--theme-page-text-secondary);
  writing-mode: vertical-rl;
  text-transform: uppercase;
  margin-left: 0.125rem;
  width: var(--font-normal);
  /* mirror text */
  transform: rotate(180deg);
  text-align: center;
  /* letter-spacing: 0.125rem; */
  /* animation: scrollDown 4s linear infinite; */
}

.rttBlockRow .rttrowBlockDetail {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.rttrowBlockDetail .rttBlockRowTop {
  height: 1.125rem;
  display: flex;
  justify-content: flex-end;
  margin-right: var(--font-normal);
}
.rttrowBlockDetail .rttBlockRowBottom {
  height: 100%;
  display: grid;
  display: -ms-grid;
  grid-template-columns: repeat(5, 1fr);
  -ms-grid-columns: repeat(5, 1fr);
  align-items: center;
  justify-content: start;
  grid-gap: 0.25rem;
}

.rttBlockRowTop .cardTag {
  /* Midnight Blue */
  background: var(--theme-page-not-background);
  border-radius: 0.125rem 0.125rem 0.5rem 0.5rem;
  width: 11.125rem;
  max-height: var(--font-l);
  /* truncate text  */
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  /* font property */
  font-size: var(--font-xs);
  text-align: left;
  color: var(--white);
  padding: 0 0.125rem;
}

.cardTag .carTagName {
  font-size: var(--font-xs);
  text-align: center;
  line-height: 1.6;
  color: var(--white);
  margin-left: 0.125rem;
}

.rttBlockRowBottom .blockNumber {
  margin-left: 0.125rem;
  font-weight: normal;
  font-size: var(--font-normal);
  color: var(--theme-page-text);
}

.rttBlockRowBottom .time {
  font-size: var(--font-s);
}
.rttBlockRowBottom .time .timeInUTC,
.rttBlockRowBottom .time .date {
  font-size: var(--font-s);
  display: flex;
  align-items: center;
  gap: 2px;
}
.rttBlockRowBottom .time .timeInUTC .timeUnit {
  font-size: var(--font-xs);
  color: var(--theme-page-text-secondary);
}

.rttBlockRowBottom .mint,
.rttBlockRowBottom .txns,
.rttBlockRowBottom .size {
  position: relative;
  width: fit-content;
  max-width: 100%;

  font-size: var(--font-s);
  color: var(--theme-page-text);
  justify-self: center;

  display: flex;
  flex-direction: column;
}
.rttBlockRowBottom .mint .mintText,
.rttBlockRowBottom .txns .txnsText,
.rttBlockRowBottom .size .sizeText {
  /* truncate text  */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.lowerThirdText {
  font-size: var(--font-xxs);
  text-align: right;
}

/* animations */
@keyframes slideIn {
  0% {
    transform: translateX(-20%);
    opacity: 0%;
    color: rgb(58, 119, 231);
  }
  70% {
    transform: translateX(0px);
    opacity: 100%;
    color: blue;
  }
  100% {
    color: black;
  }
}

@keyframes scrollDown {
  from {
    transform: translateY(-3.25rem) rotate(180deg);
  }
  to {
    transform: translateY(3.25rem) rotate(180deg);
  }
}
