.rttBlockRow {
  --local-height: 3.875rem;
  position: relative;
  width: 100%;
  height: var(--local-height, 3.875rem);
  background: var(--theme-page-background);
  box-shadow: var(--card-shadow);
  border: solid 0.0625rem rgba(100, 148, 237, 0.15);
  border-radius: 0.25rem;
  display: flex;
  overflow: hidden;
  animation: fadeIn 1.5s ease-in; // in future use animation from globals.scss

  .rttrowBlockName {
    font-size: var(--font-xs);
    /* Ocean Blue */
    color: var(--theme-page-text-secondary);
    writing-mode: vertical-rl;
    text-transform: uppercase;
    line-height: 2;

    /* mirror text */
    transform: rotate(180deg);
    text-align: center;
  }

  .rttrowBlockDetail {
    width: 100%;
    display: flex;
    flex-direction: column;

    .rttBlockRowBottom {
      height: 100%;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      align-items: center;
      justify-items: center;
      gap: var(--space-xxxs);

      .blockNumber {
        text-align: right;
        font-size: var(--font-normal);
        color: var(--theme-page-text);
        position: relative;
        bottom: calc(var(--local-height) * 0.125);
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}

// animations
@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  70% {
    transform: translateX(0px);
    opacity: 70%;
  }
  100% {
    transform: translateX(0px);
    opacity: 100%;
  }
}
