.page {
  color: var(--theme-page-text);
}

.cardsContainer {
  display: flex;
  gap: var(--space-xxs);
  padding: 0rem;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1rem 0;
  padding: 1rem;
  background: var(--theme-page-background);
  border-radius: 0.5rem;
  font-size: var(--font-normal);
  box-shadow: var(--card-shadow);

  .details__text {
    display: flex;
    flex-direction: column;
    padding: 0.2rem;
    gap: 0.5rem;
    div {
      border-radius: 0.2rem;
      color: var(--theme-page-text);
      background: var(--theme-tab-bg);
      padding: 0.3rem 1rem;
    }
  }

  .qrCode {
    background: white;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    box-shadow: var(--card-shadow);
  }
}

.amount {
  color: white;
  font-weight: 'bold';
  border-radius: 0.2rem;
  // width: fit-content;
  padding: 0.3rem;
}

/* for small screen */
@media (max-width: 768px) {
  /* hide scroll */
  .cardsContainer {
    overflow: visible;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-bottom: var(--space-xs);
  }
  .cardsContainer::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
    width: 0;
    background: transparent;
  }

  .details {
    flex-direction: column;
    overflow: scroll;
    align-items: flex-start;
  }
}
