@use '../../../styles/mixins' as *;

.dropDown {
  position: relative;
  display: inline-block;

  /* Dropdown button */
  &__btn {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: max-content;
    gap: var(--space-xxxs);
    background-color: var(--theme-tab-background);
    color: var(--theme-page-text);
    font-family: inherit;
    border: none;
    border-radius: var(--space-xxxs);
    padding: var(--space-xxs);
    cursor: pointer;

    &:hover {
      color: var(--nexus-blue);
    }
  }

  /* Dropdown Content (Hidden by Default) */
  &__content {
    @include hide-scrollbar;
    position: absolute;
    background-color: var(--theme-page-background);
    border-radius: var(--space-xxxs);
    box-shadow: 0rem var(--space-xxxs) var(--space-s) 0rem rgba(0, 0, 0, 0.3);
    max-height: 0;
    min-width: 8rem;
    z-index: 10;
    transition: all 0.3s ease;
    overflow: auto;

    &__item {
      display: block;
      color: var(--theme-page-text);
      font-size: var(--font-normal);
      font-family: inherit;
      transition: all 0.25s ease;
      cursor: pointer;

      &:hover,
      &:focus {
        color: var(--theme-hover-bg);
        background-color: var(--theme-hover-text);
        border-radius: var(--space-xxxs);
      }
    }
  }

  /* Show the dropdown menu on hover */
  &:hover &__content,
  &:focus &__content {
    max-height: 14rem;
    margin-top: 0.25rem;
  }
}
