.container {
  display: none;
  min-height: 25rem;
  gap: var(--space-xl);
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 1024px) {
  .container {
    display: flex;
    flex-direction: row;
  }
}
