/* for desktops */
.container {
  overflow: scroll;
  gap: var(--space-xxl);
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
}

/* for mobile  */
@media (min-width: 768px) {
  .container {
    /* display: none; */
    /* overflow: visible; */
    display: flex;
    flex-direction: row;
    min-height: 25rem;
    overflow: hidden;
    margin-bottom: 0;
  }
}
