.text {
  --color: var(--theme-page-text);
  color: var(--color);
  margin: 0;
  padding: 0;
  &-primary {
    --color: var(--theme-page-text);
    color: var(--color);
  }
  &-secondary {
    --color: var(--theme-page-text-secondary);
    color: var(--color);
  }
}
