* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  background: var(--theme-bg-under) no-repeat;
}

pre {
  color: var(--theme-page-text);
}

.themeText {
  color: var(--theme-page-text);
}

input {
  color: var(--midnight-blue);
}
a {
  color: inherit;
  text-decoration: none;
}
