/* cyrillic-ext */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/rubik/v19/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-B4iFWkU1Z4Y.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/rubik/v19/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-B4iFU0U1Z4Y.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* hebrew */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/rubik/v19/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-B4iFVUU1Z4Y.woff2) format('woff2');
  unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/rubik/v19/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-B4iFWUU1Z4Y.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/rubik/v19/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-B4iFV0U1.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

// --------------- rubik


// ------------------------- lato font 
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lato/v22/S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lato/v22/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
// ------------------------- lato font 


:root {
  /* colors */
  --nexus-blue: hsl(202, 97%, 52%);
  --sky-blue: hsl(200, 99%, 71%);
  --ocean-blue: hsl(202, 97%, 29%);
  --midnight-blue: hsl(202, 96%, 11%);
  --white: hsl(0, 0%, 100%);
  --dark-grey: hsl(290, 7%, 17%);
  --market-green: hsl(134, 61%, 41%);
  --market-red: hsl(354, 70%, 54%);
  --market-yellow: hsl(50, 70%, 50%);
  --paper-white: hsl(210, 17%, 98%);
  --pale-white: hsl(210, 25%, 97%);
  --frost-white: hsl(201, 54%, 91%);

  /* gradient */
  --linear-frost-white: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    hsl(201, 54%, 91%) 100%
  );

  --linear-frost-white-reverse: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.5) 0%,
    hsl(201, 54%, 91%) 100%
  );

  --linear-ocean-midnight: linear-gradient(
    175.94deg,
    hsla(202, 96%, 11%, 0.702) 5.59%,
    hsla(202, 97%, 29%, 0.702) 73.28%
  );
  --linear-sky-white: linear-gradient(
    175.94deg,
    rgba(12, 164, 251, 0.7) 5.59%,
    hsla(200, 99%, 71%, 0.35) 73.28%
  );
  --linear-nexus-sky: linear-gradient(
    328deg,
    hsl(202, 97%, 52%) 0%,
    hsl(200, 99%, 71%) 80%,
    hsl(0, 0%, 100%) 100%
  );
  --radial-ocean-midnight: radial-gradient(
    circle,
    hsl(202, 79%, 11%) 0%,
    hsl(202, 92%, 14%) 100%
  );

  --radial-sky-white: radial-gradient(
    114.53% 197.34% at 25.54% -14.53%,
    var(--white) 26.66%,
    var(--sky-blue) 100%
  );

  /* fonts size*/
  --font-xxxs: 0.375rem; /* 6px */
  --font-xxs: 0.5rem; /* 8px */
  --font-xs: 0.625rem; /* 10px */
  --font-s: 0.75rem; /* 12px */
  --font-normal: 0.875rem; /* 14px */
  --font-l: 1rem; /* 16px */
  --font-xl: 1.125rem; /* 18px */
  --font-xxl: 1.25rem; /* 20px */
  --font-xxxl: 1.5rem; /* 24px */
  --font-xxxxl: 2rem; /* 32px */
  --font-xxxxxl: 3rem; /* 48px */

  /* screen sizes */
  --screen-xs: 576px;
  --screen-sm: 768px;
  --screen-md: 992px;
  --screen-lg: 1200px;
  --screen-xl: 1440px;

  /* spaces */
  --space-xxxxs: 0.125rem; /* 2px */
  --space-xxxs: 0.25rem; /* 4px */
  --space-xxs: 0.5rem; /* 8px */
  --space-xs: 0.75rem; /* 12px */
  --space-s: 1rem; /* 16px */
  --space-m: 1.25rem; /* 20px */
  --space-xm: 1.5rem; /* 24px */
  --space-l: 1.5rem; /* 32px */
  --space-xl: 2rem; /* 48px */
  --space-xxl: 3rem; /* 72px */
  --space-xxxl: 4rem; /* 96px */
}

:root,
.light {
  --theme-shimmer: var(--paper-white);
  --theme-color: var(--ocean-blue);
  --theme-page-background: var(--white);
  --theme-page-not-background: var(--midnight-blue);
  --theme-page-text: var(--midnight-blue);
  --theme-page-text-secondary: var(--ocean-blue);
  --theme-page-border: var(--nexus-blue);
  --theme-gradient: var(--radial-sky-white);
  --theme-gradient-radial: var(--radial-sky-white);
  --theme-gradient-linear: var(--linear-sky-white);
  --theme-bg-under: var(--pale-white);
  --theme-layout-background: var(--radial-ocean-midnight);
  --theme-search: var(--white);
  --theme-search-text: var(--white);
  --theme-hue-rotate: hue-rotate(20deg);
  --theme-nav-bg: var(--linear-frost-white);
  --theme-footer-bg: var(--linear-frost-white-reverse);
  --theme-nav-brand: var(--nexus-blue);
  --theme-btn-background: var(--ocean-blue);
  --theme-btn-text: var(--white);
  --theme-invert: brightness(70%) sepia(100) saturate(60) hue-rotate(190deg);
  --theme-detail-card: var(--linear-nexus-sky);
  --theme-tab-bg: var(--frost-white);
  --theme-tab-text: var(--dark-grey);
  --theme-toast-bg: hsl(220, 10%, 16%);
  --theme-icon-color: var(--dark-grey);
  --theme-hover-bg: var(--ocean-blue);
  --theme-hover-text: var(--frost-white);

  /* shadows */
  --card-shadow: 0rem 0.25rem 0.5rem #0002;
  --card-shadow-subtle: 0rem 0.25rem 0.5rem #0001;
  --card-shadow-border: 0 0 0.1rem 0.1rem inset hsla(0, 0%, 67%, 0.1);
}
[data-color-theme='dark'],
.dark {
  --theme-shimmer: var(--ocean-blue);
  --theme-color: var(--dark-grey);
  --theme-page-background: var(--midnight-blue);
  --theme-page-not-background: var(--ocean-blue);
  --theme-page-text: var(--white);
  --theme-page-text-secondary: var(--sky-blue);
  --theme-page-border: var(--ocean-blue);
  --theme-gradient: var(--radial-ocean-midnight);
  --theme-gradient-radial: var(--radial-ocean-midnight);
  --theme-gradient-linear: var(--linear-ocean-midnight);
  --theme-bg-under: var(--radial-ocean-midnight);
  --theme-layout-background: var(--midnight-blue);
  --theme-search: var(--white);
  --theme-search-text: var(--white);
  --theme-hue-rotate: hue-rotate(0deg);
  --theme-nav-bg: var(--theme-layout-background);
  --theme-footer-bg: var(--theme-layout-background);
  --theme-nav-brand: var(--paper-white);
  --theme-invert: invert(0);
  --theme-btn-background: var(--midnight-blue);
  --theme-btn-text: var(--white-blue);
  --theme-detail-card: var(--radial-ocean-midnight);
  --theme-tab-text: var(--frost-white);
  --theme-tab-bg: var(--ocean-blue);
  --theme-toast-bg: hsl(220, 10%, 16%);
  --theme-icon-color: var(--sky-blue);
  --theme-hover-bg: var(--ocean-blue);
  --theme-hover-text: var(--white);

  /* shadows */
  --card-shadow: 0rem 0.25rem 0.5rem #0002;
  --card-shadow-subtle: 0rem 0.25rem 0.5rem #0001;
  --card-shadow-border: 0 0 0.1rem 0.1rem inset hsla(0, 0%, 67%, 0.3);
}

.testnet-filter {
  filter: hue-rotate(-30deg) contrast(0.98);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Rubik', 'Noto Sans', "Lato", --apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, 'Open Sans', sans-serif;
  background: var(--theme-bg-under) no-repeat;
  /* * for testnet */
  /* filter: hue-rotate(160deg); */
}

.themeText {
  color: var(--theme-page-text);
}

input {
  color: var(--midnight-blue);
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.apexcharts-toolbar-custom-icon {
  /* background-color: var(--theme-page-text); */
  border-radius: 1rem;
  background: white;
  font-size: 0.6rem;
  padding: 0 0.3rem;
  margin: 0 0.05rem;
}

::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: var(--theme-page-background);
}

::-webkit-scrollbar-thumb {
  background: var(--theme-page-text);
  border-radius: var(--space-xs);
}

.slideRowAnim {
  animation: slideIn 2s;
}

.fadeInAnim {
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  70% {
    transform: translateX(0px);
    opacity: 70%;
  }
  100% {
    transform: translateX(0px);
    opacity: 100%;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-20%);
    opacity: 0%;
    color: rgb(58, 119, 231);
  }
  70% {
    transform: translateX(0px);
    opacity: 100%;
    color: blue;
  }
  100% {
    color: black;
  }
}

#__portal {
  all: unset;
}

#infoCard {
  margin-top: 10px;
  color: #333;
  /* box-shadow: -2px 0px 2px inset blue;*/
  /* animation: flashShadow 0.5s linear infinite; */
}

#navbarComponent {
  animation: slideDown 2s;
}

#richlist {
  animation: slideDown 3s;
  overflow: hidden;
  scrollbar-width: 1px;
}

#trustlist {
  animation: slideDown 3s;
}

#chartLeft {
  animation: slideRight 3s;
}

#chartRight {
  animation: slideLeft 3s;
}

@keyframes blueTinge {
  0% {
    box-shadow: 2px 2px 10px;
  }
  100% {
    background-color: 2px 2px 20px;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(300px);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-300px);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-5rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
