.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.searchBar:focus-within {
  outline: solid 0.125rem var(--nexus-blue);
  border-radius: 2pt;
  color: var(--midnight-blue);
}

.searchBar input[type='search'] {
  height: 2.125rem;
  background: var(--white);
  color: var(--midnight-blue);
  border: none;
  border-radius: 0.125rem 0 0 0.125rem;
  /* border-radius: 0.25rem; */
  box-shadow: 0 0.25rem 0.25rem inset #0003;
  box-sizing: border-box;
  outline: none;
  font-size: var(--font-normal);
  width: 100%;
  padding-left: 0.5rem;
}

.searchBar input[type='search']::-webkit-search-cancel-button {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  background: url('../../../assets/icons/cross.svg');
  background-repeat: no-repeat;
  background-position: center;
  -webkit-appearance: none;
  cursor: pointer;
}

.searchBar button {
  height: 2.125rem;
  /* background: var(--white); */
  border-radius: 0 0.25rem 0.25rem 0;
  border: none;
  /* position: relative; */
  right: 5%;
  margin: 0;
  padding: 0;
  /* padding-top: 0.3rem; */
  cursor: pointer;
}
.searchBar button:hover {
  opacity: 0.8;
}

.searchBar button .searchIcon {
  width: 1.5rem;
  height: 1.5rem;
}
