.container {
  padding: 0.3rem;
  border: 1px solid var(--sky-blue);
  border-radius: 0.25rem;
  color: var(--theme-page-text);
  background: hsla(0, 0%, 100%, 0.5);
  font-family: inherit;
  font-size: var(--font-normal);

  &:focus {
    color: var(--midnight-blue);
    background: hsla(0, 0%, 100%, 1);
    outline-color: var(--nexus-blue);
  }
}
