.page {
  color: var(--theme-page-text)
}

.cardsContainer {
  display: flex;
  gap: var(--space-xxs);
  padding: 0rem;
  color: var(--theme-page-text);
}

.chartContainer {
  width: 100%;
  padding: 0.5rem 0rem;
  overflow: hidden;
}

/* for small screen */
@media (max-width: 768px) {
  /* hide scroll */
  .cardsContainer {
    overflow: visible;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-bottom: var(--space-xs);
  }
  .cardsContainer::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
    width: 0;
    background: transparent;
  }
}

/* style for desktop */
@media (min-width: 768px) {
  .container {
    display: flex;
    gap: 0.25rem;
    justify-content: space-between;
    align-items: center;
  }

  .cardsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: var(--space-xxxs);
    padding: 0.5rem 0;
  }
}
