.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
    width: 100%;
    color: white;
    background: var(--radial-ocean-midnight);
    box-shadow: 0px 4px 8px #0003;
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}

.brand {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    color: #eee;
    filter: brightness(0) invert(1);
}

.links {
    display: flex;
    gap: 1rem;
}

.links > a:hover {
    color: var(--sky-blue);
    text-shadow: 2px 2px 10px white;
}


/* mobile screen classes */
@media only screen and (max-width: 628px) {
    .nav {
        flex-direction: column;
        padding: 0.2rem;
    }
  }