.links {
  display: flex;
  gap: var(--space-xxs);

  span {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover {
      color: var(--nexus-blue);
    }

    &.active,
    &.dropDown__active {
      font-weight: bold;
      color: var(--theme-page-text-secondary);
      border-bottom: 0.125rem solid var(--sky-blue);
      border-radius: 0.125rem;
      transition: color 250ms ease;
    }
    &.dropDown__item {
      padding: var(--space-xxs);
    }
    &.dropDown__active {
      border: none;
    }
  }
}

/* mobile screen classes */
.mlinks {
  margin-top: var(--space-s);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--space-xxs);
  padding: var(--space-xs);
  color: white;
  font-size: larger;
  overflow: auto;

  span {
    padding: 1rem;
    width: 100%;
    display: grid;
    display: -ms-grid;
    justify-items: center;
    align-items: center;
    border-radius: var(--space-xxxs);
    cursor: pointer;
  }

  .mactive {
    background-color: var(--ocean-blue);
    font-weight: bold;
  }
}
