.links {
  display: flex;
  gap: var(--space-xxs);

  span {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover {
      color: var(--nexus-blue);
    }

    &.active,
    &.dropDown__active {
      font-weight: bold;
      color: var(--theme-page-text-secondary);
      border-bottom: 0.125rem solid var(--sky-blue);
      border-radius: 0.125rem;
      transition: color 250ms ease;
    }
    &.dropDown__item {
      padding: var(--space-xxs);
      margin: var(--space-xxxs);
    }
    &.dropDown__active {
      border: none;
    }
  }
}

/* mobile screen classes */
.mlinks {
  margin-top: var(--space-s);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--space-xxs);
  padding: var(--space-xs);
  color: white;
  font-size: larger;

  .mNav,
  .mTitle {
    padding: 1rem;
    width: 100%;
    display: inline-block;
    text-align: center;
    border-radius: var(--space-xxxs);
    cursor: pointer;
    &:hover {
      font-weight: bold;
    }
  }

  .mactive {
    background-color: var(--ocean-blue);
    font-weight: bold;
  }

  .mNestedNav {
    $bgClr: hsla(202, 97%, 29%, 0.3);
    transition: all 300ms ease;
    width: 100%;
    border-radius: var(--space-xxs);
    &.mNavTitleActive {
      border: 1px solid $bgClr;
    }

    .mTitle {
      width: 100%;
      display: inline-block;
      text-align: center;
      &::after {
        content: '\003E';
        padding-left: var(--space-xxs);
      }
      &.expanded {
        border-bottom: 1px solid $bgClr;
      }
      &.active {
        background-color: $bgClr;
      }
    }

    &list {
      opacity: 0;
      visibility: hidden;
      height: 0;
      transition: all 0.3s ease;
      &.expanded {
        opacity: 1;
        visibility: visible;
        height: max-content;
      }
    }
  }
}
