/* Default style to card */
.detailcard {
  position: relative;
  width: 100%;
  min-width: 17.5rem; /* 280px */
  height: 10.75rem; /* 175px */
  background: var(--theme-gradient-radial);
  box-shadow: var(--card-shadow-border), var(--card-shadow);
  border-radius: 0.25rem; /* 4px */

  display: grid;
  display: -ms-grid;
  grid-template-rows: 1fr 2fr 1fr;
  -ms-grid-rows: 1fr 2fr 1fr;
  grid-gap: 0.125rem;
  padding: 0.5rem;

  overflow: hidden;
  animation: flipCard 2s;

  filter: var(--theme-hue-rotate);
  /* filter:  saturate(0.7); */
}

@keyframes flipCard {
  0% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

/* Triangle on right bottom */
.triangle {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}
.triangle .logoIcon {
  position: absolute;
  left: 81.43%;
  right: 4.29%;
  top: 72.09%;
  bottom: 4.65%;
  width: 2.5rem;
  height: 2.5rem;
  z-index: 6;
  opacity: 80%;
}
.triangle1,
.triangle2,
.triangle3 {
  top: 56%;
  left: 58%;
  width: 10.5rem;
  height: 5.625rem;
  position: absolute;
  background: var(--theme-gradient-linear);
  border-radius: 0.25rem;
  transform: rotate(135deg);
  box-shadow: 0 0 0.125rem 0 var(--theme-gradient-linear);
  z-index: 2;
}
.triangle2 {
  top: 60%;
  left: 62%;
  width: 9.875rem;
  height: 5.3125rem;
  z-index: 3;
}
.triangle3 {
  top: 64%;
  left: 70%;
  width: 8rem;
  height: 5rem;
  z-index: 4;
}

.detailcard .header,
.detailcard .body,
.detailcard .footer {
  z-index: 10;
}

/* Style specific to the card type */
/* Type one Card styles */

.detailcard .header.one,
.detailcard .header.two {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr 1.75rem;
  -ms-grid-columns: 1fr 1.75rem;
}
.detailcard .header.one span,
.detailcard .header.two span {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.detailcard .header.one .heading,
.detailcard .header.two .heading {
  margin: 0;

  font-weight: normal;
  font-size: var(--font-normal);
  color: var(--theme-page-text);
  overflow: hidden;
  text-overflow: ellipsis;
}
.detailcard .header.one span .sublabel,
.detailcard .header.two span .sublabel {
  font-weight: normal;
  font-size: var(--font-s);
  color: var(--theme-page-text-secondary);
  overflow: hidden;
  text-overflow: ellipsis;
}
.detailcard .header.one .timerText,
.detailcard .header.two .timerText {
  background: var(--market-green);
  width: 1.75rem;
  height: 1rem;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-xs);
  color: var(--white);
  overflow: hidden;
}
/* Card one body content style */
.detailcard .body.one {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: fit-content;
  width: -moz-fit-content;
  max-width: 100%;
  overflow: hidden;
}
.detailcard .body.one .bodyText {
  margin: 0;

  font-weight: normal;
  font-size: var(--font-xxxl);
  text-align: right;
  color: var(--theme-page-text);
  overflow: hidden;
  text-overflow: ellipsis;
  flex-wrap: wrap;
}
.detailcard .body.one .bodyTextUnit {
  justify-self: flex-end;
  text-align: right;

  font-size: var(--font-s);
  color: var(--theme-page-text);
}

/* Type Two Card styles */

.detailcard .footer.two {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.125rem;
  overflow: hidden;
}
.detailcard .footer.two p,
.detailcard .footer.two label {
  margin: 0;

  font-weight: normal;
  font-size: var(--font-l);
  color: var(--theme-page-text-secondary);
}
.detailcard .footer.two p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.detailcard .footer.two label {
  font-weight: normal;
  font-size: var(--font-normal);
}

.detailcard .body.two {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  overflow: hidden;
}
.detailcard .body.two .bodyText {
  margin: 0;

  font-weight: normal;
  font-size: var(--font-xxl);
  color: var(--theme-page-text);
}
.detailcard .body.two .transectionBlock {
  width: 90%;
  display: flex;
  justify-content: space-between;
  gap: 0.125rem;
  align-items: flex-end;
}
.detailcard .body.two .transectionBlock .transectionUnit {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.detailcard .body.two .transectionBlock .transectionUnit .transection,
.detailcard .body.two .transectionBlock .transectionUnit .transectionType {
  color: var(--theme-page-text-secondary);

  font-weight: normal;
  font-size: var(--font-normal);
  text-overflow: ellipsis;
  overflow: hidden;
}
.detailcard .body.two .transectionBlock .transectionUnit .transectionType {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: normal;
}
.detailcard
  .body.two
  .transectionBlock
  .transectionUnit
  .transectionType
  .txnIcon {
  width: var(--font-s);
  height: var(--font-s);
}
