.rttable {
  position: relative;
  border-radius: var(--space-xxxs);
  width: 100%;
  height: 100%;
  min-height: 5rem;
  max-height: 27.5rem;
  margin-bottom: var(--space-s);
  overflow: hidden;

  .header {
    display: flex;
    height: 2rem;
    padding: 0 var(--space-xs);
    align-items: center;
    justify-content: space-between;
    font-size: var(--font-normal);
    border-radius: var(--space-xxs) var(--space-xxs) 0 0;
    color: var(--theme-page-text);
    background: var(--theme-page-background);
    border: solid 0.0625rem rgba(100, 148, 237, 0.3);
    border-bottom-width: 0.125rem;
    margin-bottom: var(--space-xxxxs);

    .button {
      border: 0.0625rem solid var(--theme-page-text);
      color: var(--theme-page-text);
      background: var(--theme-page-background);
      padding: var(--space-xxxxs) var(--space-l);
      font-size: var(--font-s);
      font-family: inherit;
      border-radius: var(--space-xxxs);
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;

      &:hover {
        background: var(--theme-page-text);
        color: var(--theme-page-background);
      }
    }
  }
  .rttDataList {
    display: flex;
    gap: var(--space-xxxs);
    flex-direction: column;
  }
}
