.details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1rem 0;
  padding: 1rem;
  background: var(--theme-page-background);
  border-radius: 0.5rem;
  font-size: var(--font-normal);
  box-shadow: var(--card-shadow);

  .details__text {
    width: 30rem;
    display: flex;
    flex-direction: column;
    padding: 0.2rem;
    gap: 0.5rem;

    > div {
      display: flex;
      align-items: center;
      border-radius: 0.2rem;
      color: var(--theme-page-text);
      background: var(--theme-tab-bg);
      padding: 0.3rem 1rem;

      > div {
        align-items: center;
      }
    }
  }

  .qrCode {
    background: white;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    box-shadow: var(--card-shadow);
  }
  @media (max-width: 768px) {
    flex-direction: column;
    overflow: scroll;
    align-items: flex-start;

    .details__text {
      width: 100%;
    }

    .qrConatiner {
      align-self: center;
    }
  }
}
