.railContainer {
  display: flex;
  justify-content: flex-start;
  overflow: visible;
  overflow-y: hidden;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.railContainer::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera  */
  scrollbar-width: none;
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
