.badge {
  display: inline-block;
  padding: var(--space-xxxs, 0.2em) var(--space-xxxs, 0.25em);
  border-radius: 0.25rem;
  text-transform: capitalize;
  color: var(--theme-badge-text, #000);
  background-color: var(--theme-badge-bg, #fff);
}
