.page {
  color: var(--theme-page-text);
}

.chartContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // width: 100%;
  // height: 100%;
  // background: var(--theme-page-text);
}
