name: auto-format
on:
  pull_request:
    branches: [main, develop]

jobs:
  format:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          # This is important to fetch the changes to the previous commit
          fetch-depth: 0
          # Make sure the actual branch is checked out when running on pull requests
          ref: ${{ github.head_ref }}
          # Make sure the value of GITHUB_TOKEN will not be persisted in repo's config
          persist-credentials: false

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: '14'
          cache: 'yarn'
      - run: yarn install

      - name: Run next linter
        run: yarn run lint

      - name: Run code format
        run: yarn run format

      - name: Commit Changes after format
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Apply formatting changes
          branch: ${{ github.head_ref }}
